name: sastho_giggasa
description: A Flutter app for disease information in Bangla.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  shared_preferences: ^2.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.3   # CHANGE THIS LINE

flutter:
  uses-material-design: true
  assets:
    - assets/images/